/* .social-icons li a {
    color: #7c3aed;
    width: 35px;
    height: 35px;
    border: 1px solid #7c3aed;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
} */